<div><div class="card container">
  <div class="info1">
    <h1>Research Assistant - PFE 2025</h1>
    <h3>CASABLANCA, Morocco</h3>
    <div class="info11">
          information plus
    </div>
  </div>
  <div class="info2">
    <h3>Job Description</h3>
      <p>
        Are you eager to seize the opportunity to be at the forefront of cutting-edge technology and potentially secure an early interview for one of the most coveted technology positions in the world? If you are, then our internship program at Oracle Morocco R&D Center is tailor-made for you.As part of Oracle's employment process candidates will be required to successfully complete a pre-employment screening process. This will involve identity and employment verification, professional references, education verification and professional qualifications and memberships (if applicable).
      </p>
  </div>
  </div>
  
  </div>
<div class="container">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Titre" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.titre }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>more</th>
      <td mat-cell *matCellDef="let element">
        <button
          routerLink="/recrutement/candidature/{{ element.id }}"
          mat-raised-button
          color="primary"
        >
          More Info
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
